fastapi[standard]>=0.115.2
uvicorn[standard]>=0.24.0
python-multipart>=0.0.18
langchain==0.3.23
langchain-core==0.3.51
langchain-community==0.3.21
langchain-google-genai==2.1.2
python-dotenv
pyarrow
pandas
huggingface-hub
pydantic